

.main {
    width: 70%;
    margin: 0 auto;
}

.navbar-brand {
    margin-right: 0px;
}

.footer {
    background-color: grey;
    text-align: center;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

.linenav {
    border-width: 0.1px;
    border-style: solid;
    border-color: black;
    margin-top: 2em;
}

.borders {
    border-left: 2px solid grey;
    border-right: 2px solid grey;
}

.menuTitles {
    text-align: center;
    font-size: 36px;
    font-family: Baskerville;
}

.georgeFont{
    font-family: Baskerville;
}

p  { font-family: Baskerville;} h1 { font-family: Baskerville;} h2 { font-family: Baskerville;} a { font-family: Baskerville} h3 { font-family: Baskerville} h6 { font-family: Baskerville}

a {
    color: black;
}
a:hover {
    color: black;
}
